<?xml version='1.0' encoding='UTF-8'?>
<plugin id="jabberwocky-cordova-plugin-ios" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Jabberwocky Head Tracking Kit</name>
    <description>
        Jabberwocky Head Tracking Kit for iOS - Cordova Plugin
    </description>
    <dependency id="cordova-plugin-cocoapod-support"/>
    <platform name="ios">
        <pods-config ios-min-version="12.0" use-frameworks="true">
            <source url="git@github.com:swiftablellc/jabberwocky-head-tracking-kit-ios.git"/>
        </pods-config>
        <pod name="JabberwockyHTKit" version="0.2.0" />
    </platform>
</plugin>
