<?xml version='1.0' encoding='UTF-8'?>
<plugin id="jabberwocky-cordova-plugin-ios" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Jabberwocky Head Tracking Kit</name>
    <description>
        Jabberwocky Head Tracking Kit for iOS - Cordova Plugin
    </description>
    
    <dependency id="cordova-plugin-cocoapod-support"/>

    <platform name="ios">
        <!-- optionally set minimum ios version and enable use_frameworks! -->
        <pods-config ios-min-version="12.0" use-frameworks="true">
             <!-- optionally add private spec sources -->
            <source url="git@github.com:swiftablellc/jabberwocky-cordova-plugin-ios.git"/>
        </pods-config>
        <!-- use a specific version of a pod -->
        <pod name="Firebase" />
        <!-- <pod name="JabberwockyHTKit" version="0.1.0" /> -->
        <!-- use a custom repo -->
        <!-- <pod name="JabberwockyHTKit" git="https://github.com/swiftablellc/jabberwocky-head-tracking-kit-ios.git" tag="0.1.0" /> -->
    </platform>
</plugin>
